<div class="grid-container">
  <div class="header">
  </div>
  <div class="menu-left">
    <button (click)="savePosition()">Save Position</button>
    <ul>
      <li>
        <a href="#">
          <i (click)="selectRoom(-1)">Add Room</i>
        </a>
      </li>
      <ul>
        <li *ngFor="let room of rooms; let i = index">
          <a href="#">
            <i (click)="selectRoom(i)">Room {{ i }}</i>
          </a>
        </li>
      </ul>
      <li>
        <a>
          <i (click)="selectAccom()">Accom</i>
        </a>
      </li>
    </ul>
    <button (click)="getValues()">Get Values Object</button>
  </div>
  <div class="main">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let sheet of sheetNames; let i = index">
        <a [ngClass]="i === indexActiveSheet ? 'nav-link active' : 'nav-link'">
          <i (click)="loadSheet(i)">{{ sheet }}</i>
        </a>
      </li>
    </ul>
    <ag-grid-angular #agGrid style="width: auto; height: 500px;" class="ag-theme-balham" [rowData]="rowData"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
  <div class="menu-right">
    <div *ngIf="currentObj != null">
      <div *ngFor="let prop of getProperties()">
        <input type="radio" [value]="prop" name="1" [(ngModel)]="selectedPropertie"> {{ prop }} :
        <div>{{ currentObj[prop]}}</div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <input type="file" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">
  </footer>
</div>